page-page2 {
    .home{
       
        padding-left: 1%  ;
      }
      .imagess{
        width: 900px;
        height: 200px;
      }
    .dis{
      font-size: 1.1rem;
      background-color: #222;
      
    }
    .con{
      height: 200px;
    }
    .sdsd{
      padding:23px
  
    }
    .size{
      width: 50px;
      font-size: 0.2em;
    }
    .share{
      width: 400px;
      
    }
    
      .test{
      width: 95%;
      height: 410px;
      background-color: #222;
      border: 6px solid  #222;
      border-radius: 2px  2px 75px 2px  ;
      border-left: solid 10px #222 ;
      border-right: solid 15px #222;
      border-bottom: solid 15px #f53d3d;
      }
      
  .navv{
    min-height: 1px;
    background-color: #fff;
  }    
     

}
